body {
	font-family: monospace;
  background-color: darkred;
  padding: 0px;
  margin: 0px;
  font-size: 1rem;
}
.card1{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px;
  border-style: solid;
  border-radius: .5em;

  border-color: bisque;
  background-color: coral;
  padding: .5em;
}
.card1lr{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px;
  border-style: solid;
  border-radius: .5em;

  border-color: bisque;
  background-color: coral;
  padding: .5em;
}
button{
  margin: .3em;
  padding: .3em;
  border: 1px;
  border-style: solid;
  border-radius: .5em;

  border-color: bisque;
}

table{
width: 100%;
}
tr{
 
  margin: 1px;
  border: 1px;
  border-style: solid;
  padding: 2px;
  background-color: coral;
}
tr.today{
	background: lime;
	
}
td{
  padding: 2px;
}
.td1{
  width: 30%;
}

.td25percent{
  width: 25%;
}
.td10percent{
  width: 10%;
  text-align: right;
}