body {
	font-family: monospace;
  background-color: darkred;
  padding: 0px;
  margin: 0px;
  font-size: 1rem;
}

table{
width: 100%;
}
tr{
  margin: 1px;
  border: 1px;
  border-style: solid;
  padding: 2px;
  background-color: coral;
}
tr.today{
	background: lime;
	
}
td{
  padding: 2px;
}
.td1{
  width: 30%;
}

.td3{
  width: 10%;
}
